node_modules/
dist/
lib/
.vscode/
coverage/
types/
.DS_Store

packages/solid/src/jsx.d.ts
packages/solid/web/server/server.d.ts
packages/solid/web/src/client.d.ts
packages/solid/universal/src/universal.d.ts

# vscode devcontainers see issues #419 and #421 for context
/.devcontainer.json
/devcontainer