node_modules/
dist/
lib/
.vscode/
coverage/
types/

packages/solid/src/jsx.d.ts
packages/solid/web/server-async/asyncSSR.d.ts
packages/solid/web/server/syncSSR.d.ts
packages/solid/web/src/runtime.d.ts