body {
  background-color: #eee;
}
#app {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  margin: 15px;
  background-color: white;
}
.tab {
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
  color: #444;
}
ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
ul.inline li {
  display: inline-block;
  margin-left: 0;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
}
ul.inline li.selected {
  border-bottom: 2px solid #337ab7;
  color: #444;
}
ul.inline a {
  display: block;
  padding: 10px;
}
a.link {
  text-decoration: none;
  color: black;
}
.loader {
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
}
